<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="toolbar-title toolbar-title-md"> Cinefix Brasil</div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="content-cineflix">

    <div class="space-home" *ngIf="!pesquisado"></div>

    <ion-row justify-content-center *ngIf="!pesquisado">
        <ion-col col-md-6>
            <ion-card color="card" no-padding no-margin>
                <ion-card-content>
                    <ion-row>
                        <ion-col text-justify>
                            Bem vindo!
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col text-justify>
                            Escolha uma categoria ou todas para sortearmos um filme para você!
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <div class="space-home"></div>

    <form (ngSubmit)="onRandomButton(f)" #f="ngForm" novalidate>
        <ion-row justify-content-center>
            <ion-col col-md-6>
                <ion-list name="categoria" id="categoria">
                    <ion-item>
                        <ion-label></ion-label>
                        <ion-select [(ngModel)]="generoSelected" [ngModelOptions]="{standalone: true}" cancelText="Voltar" placeholder="Categorias" interface="popover">
                            <ion-option no-padding *ngFor="let item of generoList; let i = index" value="{{item.id}}">{{ item.nome }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row justify-content-center>
            <ion-col col-md-6>
                <button ion-button full class="button-custom" type="submit" color="secondary" name="sortear" id="sortear" [disabled]="onLoader">
                  SORTEAR
                </button>
            </ion-col>
        </ion-row>

        <div class="spacer space-card"></div>
    </form>

    <ion-row *ngIf="(randomItem || !onLoader) && pesquisado" justify-content-center>

        <ion-col col-md-6>
            <ion-card color="card-filme" (click)="onGoToDetalhe()" name="filme-sorteado" id="filme-sorteado" no-padding no-margin>
                <ion-row class="card-filme-home">
                    <ion-col col-6>
                        <ion-card-content>
                            <ion-row class="card-title" text-justify>
                                {{ randomItem.title }}
                            </ion-row>
                        </ion-card-content>
                    </ion-col>
                    <ion-col col-6 class="card-img-bottom">
                        <img *ngIf="randomItem.thumbnails" [src]="randomItem.thumbnails.high" class="img-responsive img-thumbnail" alt="{{randomItem.title}}">
                        <img *ngIf="!randomItem.thumbnails" src="../../assets/imgs/imagem-default.png" class="img-responsive img-thumbnail" alt="{{randomItem.title}}">
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>

    <div *ngIf="onLoader && pesquisado">
        <div text-center>
            <ion-label> {{ loaderContent }} </ion-label>
        </div>

        <ion-row justify-content-center>
            <ion-col col-10 class="container">
                <div class="roulette"></div>
                <div class="spinner">
                    <div class="pointer"></div>
                </div>
            </ion-col>
        </ion-row>
    </div>

    <div class="spacer space-footer" id="home-footer"></div>
</ion-content>