<ion-header>
    <ion-navbar>
        <ion-title text-center>
            <div class="toolbar-title toolbar-title-md"> Cinefix Brasil</div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="content-cineflix">
    <!-- <button ion-button (click)="showPlatform()">TEste</button> -->

    <form (ngSubmit)="onAssistirFilme(f)" #f="ngForm" novalidate>
        <ion-row justify-content-center>
            <ion-col col-md-6>
                <ion-list>
                    <ion-item>
                        <ion-label color="select">Genêro</ion-label>
                        <ion-select [(ngModel)]="generoSelected" [ngModelOptions]="{standalone: true}" cancelText="Cancelar" okText="Selecionar" interface="action-sheet">
                            <ion-option no-padding *ngFor="let item of generoList; let i = index" value="{{item.id}}">{{ item.nome}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <!-- <ion-item>
                        <ion-label color="secondary"></ion-label>
                        <ion-select [(ngModel)]="generoSelected" [ngModelOptions]="{standalone: true}" interface="action-sheet" cancelText="Cancelar" okText="Selecionar">
                            <ion-option *ngFor="let item of generoList; let i = index" value="{{item.id}}">{{item.nome}}</ion-option>
                        </ion-select>
                    </ion-item> -->
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row justify-content-center>
            <ion-col col-md-6>
                <button ion-button full icon-right type="submit" color="secondary" [disabled]="loader">
                  SORTEAR FILME
                  <ion-icon name="videocam"></ion-icon>
                </button>
            </ion-col>
        </ion-row>

        <div class="space-loader" *ngIf="loader"></div>

        <ion-row text-center *ngIf="loader">
            <ion-col col-12>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </ion-col>
        </ion-row>
    </form>

    <ion-row *ngIf="filme && filme.Imagem && !loader" justify-content-center>
        <ion-col col-xl-6>
            <ion-card color="dark">
                <ion-card-header color="secondary">
                    {{filme.Nome}}
                </ion-card-header>

                <ion-card-content>
                    <img [src]="filme.Imagem" class="img-responsive img-thumbnail" alt="filme.Nome">
                    <ion-row>
                        <ion-col text-right><button type="button" color="secondary" ion-button clear (click)="onGoToDetalhe()">Ver mais</button></ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <div class="spacer space-footer" id="home-footer"></div>
</ion-content>