    //Cores
    $colors: ( primary: #F1C40F, secondary: rgba(255, 255, 0, 0.685), danger: #f53d3d, light: #95a5a6, dark: #222, card:#424242, card-filme:#fff);
    //custom TAG
    // button {
    //     .sortear {
    //         background: linear-gradient( rgba(0, 128, 0, 0.63), rgba(255, 255, 0, 0.562));
    //     }
    // }
    //Definição cores scroll
    div::-webkit-scrollbar {
        border: none;
        width: 0;
        background: #222;
    }
    
    div::-webkit-scrollbar-track {
        border: none;
        width: 0;
        background: #222;
    }
    
    div::-webkit-scrollbar-thumb {
        border: none;
        width: 0;
        background: #222;
    }
    
    .card-bem-vindo {
        font-size: 16px;
    }
    
    .card-filme-home {
        .card-img-bottom {
            color: #fff;
            background-size: cover;
            padding: 0%;
            padding: 0px !important;
            img {
                height: 180px;
            }
        }
        .card-title {
            top: 10%;
            font-size: 100%;
            font-weight: bold;
            color: #313131;
            padding: 2px !important;
        }
        padding: 0px !important;
        margin-bottom: 0% !important;
    }
    
    .space-footer {
        width: auto;
        height: 10%;
    }
    
    .button-custom {
        background: linear-gradient(left, #00610B, rgb(201, 204, 1));
        color: #ffffff !important;
    }
    
    //Cor texto botão
    // $button-md-text-color: #FFFFFF;
    // $button-ios-text-color: #FFFFFF;
    // $button-wp-text-color: #FFFFFF;
    //Cor botão header
    // $toolbar-md-button-color: #95a5a6;
    // $toolbar-ios-button-color: #95a5a6;
    // $toolbar-wp-button-color: #95a5a6;
    //Cor texto header
    // $toolbar-md-title-text-color: #95a5a6;
    // $toolbar-ios-title-text-color: #95a5a6;
    // $toolbar-wp-title-text-color: #95a5a6;
    //Cor header
    $toolbar-background:#212121;
    //Cor content
    $background-color: #303030;
    $background-md-color: #303030;
    $background-ios-color: #303030;
    $background-wp-color: #303030;
    //Cor select
    $action-sheet-md-background:#222;
    $action-sheet-ios-background:#222;
    $action-sheet-wp-background:#222;
    $action-sheet-md-border-color:#000;
    $action-sheet-ios-border-color:#000;
    $action-sheet-wp-border-color:#000;
    $action-sheet-md-button-background:#222;
    $action-sheet-ios-button-background:#222;
    $action-sheet-wp-button-background:#222;
    $action-sheet-md-button-background-activated:#000;
    $action-sheet-ios-button-background-activated:#000;
    $action-sheet-wp-button-background-activated:#000;
    $action-sheet-md-button-border-color:#222;
    $action-sheet-ios-button-border-color:#222;
    $action-sheet-wp-button-border-color:#222;
    //Cor texto select
    $action-sheet-md-title-color: #ffffff;
    $action-sheet-ios-title-color: #ffffff;
    $action-sheet-wp-title-color: #ffffff;
    $action-sheet-md-button-text-color:#ffffff;
    $action-sheet-ios-button-text-color:#ffffff;
    $action-sheet-wp-button-text-color:#ffffff;
    $action-sheet-md-button-destructive-text-color:#ffffff;
    $action-sheet-ios-button-destructive-text-color:#ffffff;
    $action-sheet-wp-button-destructive-text-color:#ffffff;
    $text-color:#ffffff;
    $select-md-placeholder-color:#ffffff;
    $select-ios-placeholder-color:#ffffff;
    $select-wp-placeholder-color:#ffffff;
    //Loading background color
    $loading-md-background: #212121;
    $loading-ios-background: #212121;
    $loading-wp-background: #212121;
    //Loading text color
    $loading-md-text-color: #ffffff;
    $loading-ios-text-color: #ffffff;
    $loading-wp-text-color: #ffffff;
    //Loading tamanho
    $loading-md-max-height: 100%;
    $loading-ios-max-height: 100%;
    $loading-wp-max-height: 100%;
    $loading-md-padding-bottom: 50px;
    $loading-ios-padding-bottom: 50px;
    $loading-wp-padding-bottom: 50px;
    $loading-md-padding-top: 50px;
    $loading-ios-padding-top: 50px;
    $loading-wp-padding-top: 50px;
    //Fonts
    // @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:b');
    // $sans-serif: 'Josefin Sans',
    // sans-serif;
    // $font-family-base: $sans-serif;
    // $font-family-ios-base: $sans-serif;
    // $font-family-md-base: $sans-serif;
    // $font-family-wp-base: $sans-serif