<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="toolbar-title toolbar-title-md"> Detalhe</div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row justify-content-center>
        <ion-col col-lg-6 col-md-12>

            <ion-card *ngIf="video" (click)="onOpenVideo()">
                <img *ngIf="video.thumbnails" [src]="video.thumbnails.high">
                <ion-card-content>
                    <ion-card-title>
                        {{ video.title }}
                    </ion-card-title>
                    <p>
                        {{ video.description }}
                    </p>
                </ion-card-content>
            </ion-card>

        </ion-col>
    </ion-row>
</ion-content>