<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="toolbar-title toolbar-title-md"> Detalhe</div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row justify-content-center>
        <ion-col col-md-6>

            <ion-card *ngIf="video" color="card">
                <img *ngIf="video.thumbnails" [src]="video.thumbnails.high" alt="{{video.title}}">

                <!-- <iframe [src]="video.id | youtube" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe> -->

                <ion-card-content>
                    <ion-card-title>
                        {{ video.title }}
                    </ion-card-title>
                    <ion-row text-justify>
                        {{ setDetalheFilme(video.description) }}
                    </ion-row>
                    <ion-row justify-content-center>
                        <ion-col col-md-6>
                            <button ion-button full icon-right class="button-custom" type="button" color="secondary" (click)="onOpenVideo()" name="assitir-filme" id="assitir-filme">
                              ASSISTIR FILME <ion-icon name="logo-youtube" alt="youtube"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>

        </ion-col>
    </ion-row>

    <div class="spacer space-footer" id="detalhe-footer"></div>
</ion-content>